/* Esconde todas as sub-seções por padrão */
.sub-secao-aoRedor-supermercados,
.sub-secao-aoRedor-restaurantes,   /* se for criar depois */
.sub-secao-aoRedor-farmacias,
.sub-secao-aoRedor-postos {
  display: none;
}

/* Quando estiver ativa */
.sub-secao-aoRedor-supermercados.ativo,
.sub-secao-aoRedor-restaurantes.ativo,
.sub-secao-aoRedor-farmacias.ativo,
.sub-secao-aoRedor-postos.ativo {
  display: flex;
}

/** Supermercado */
.sub-secao-aoRedor-supermercados {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.sub-cont-supMerc {
  width: 95%;
  min-height: 80vh;
  display: flex;
  margin-top: 6vh;
}

.cont-supMerc {
  width: 100%;
}

.cont-loczIcon_textSupMerc {
  width: 60%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  margin-top: 6vh;
  color: #004970;
  margin-left: 6vw;
}

.icon-loczIcon_textSupMerc {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 6vh;
}

.icon-loczIcon_textSupMerc img {
  width: 60px;
  height: auto;
}

.lclcoes-SupMerc-item {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1.2rem;
  margin-bottom: 6vh;
  color: #004970;

  span {
    line-height: 1.2;
  }
}

.lclcoes-SupMerc-item img {
  width: 20px;
  height: auto;
}

.lclcoes-SupMerc-item ul {
  margin-left: 1rem;
}

.cont-iframeMaps {
  position: relative;
}

.cont-iframeMaps img {
  width: 100px;
  height: auto;
  position: absolute;
  top: -30px;
  left: 450px;
}
/** Supermercado */