
.sect-apts-01-slides {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 140px;
}

.slider {
  margin-top: 100px;
  position: relative;
  width: 100%;
  height: 500px;
  max-width: 1000px;
  overflow: hidden;
  z-index: 9;
}

.slides {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.8s ease-in-out;
}

.slide {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  object-fit: cover;
}

.img-icon-slider {
  position: absolute;
  width: 8%;
  height: auto;
  z-index: 20;
  top: 16%;
  left: 82%;
  transform: translate(-50%, -50%);
}

.seta {
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  background: rgb(1, 102, 255);
  border: none;
  border-radius: 50%;
  color: white;
  font-size: 30px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 10;
}

.seta p {
  margin: 0 0 3px 0;
  
  border-radius: 50%;
}

.esquerda {
  left: 10px;
}

.direita {
  right: 10px;
}

.seta:hover {
  background: rgba(0, 0, 0, 0.7);
}

.cont-itens-info-apt {
  position: absolute;
  z-index: 5000;
  background-color: rgb(41, 0, 128);
  width: 100%;
  height: 20%;
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-cont-info-apt {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 10%;
  align-items: start;
  gap: 20px;
}

.itens-info-apt {
  display: flex;
  align-items: center;
  gap: 5px;
}

.itens-info-apt .itens-info-02-apt {
  width: 80px;
}

.itens-info-apt .itens-info-03-apt {
  font-size: clamp(0.8rem, 2vw, 1.5rem);
  width: 80px;
}

.itens-info-apt img {
  width: 50px;
  height: auto;
}

.text-cont-info-apt {
  font-size: clamp(0.8rem, 1.2vw, 1rem);
  color: white;
}